.header-intro {
	/*typography declarations*/
	font-family: 'Vollkorn', serif;
	font-size: 32px;
	line-height: 26px;
	color: #000;
}
.header-content {
	/*typography declarations*/
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	color: #A1A8B2;
	text-transform: uppercase;
	font-style: italic;
}
.header-quote {
	/*typography declarations*/
	font-family: 'Vollkorn', serif;
	font-size: 16px;
	color: #D99A3A;
}
.panel {
	background-image: url('http://i.imgur.com/CS0YS8B.jpg');
	position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 650px;
	width: 1400px;
}
.header-intro,
.header-content,
.header-quote {
	text-align: center;
}